<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        <title>Career Search</title>
        <link rel="shortcut icon" href="static/apple-touch-icon.png">
    </head>
    <body>
        <h1>Todd Career Search</h1>
        <image src="static/banner.jpg" height="320" alt="mountains">
        <h2>
            About Todd Careers
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id volutpat lacus laoreet non. At quis risus sed vulputate odio ut enim blandit. Proin nibh nisl condimentum id venenatis a condimentum. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Vitae ultricies leo integer malesuada nunc vel. Pretium quam vulputate dignissim suspendisse in est ante. Fringilla ut morbi tincidunt augue interdum velit. Cursus metus aliquam eleifend mi in. Et sollicitudin ac orci phasellus. Accumsan sit amet nulla facilisi.
            Diam maecenas sed enim ut sem. Habitant morbi tristique senectus et netus. Mauris cursus mattis molestie a. Volutpat sed cras ornare arcu. Placerat vestibulum lectus mauris ultrices eros in cursus. Blandit turpis cursus in hac habitasse platea. Vitae suscipit tellus mauris a diam maecenas sed. Magna eget est lorem ipsum dolor sit amet. Proin sed libero enim sed faucibus turpis. Aliquam id diam maecenas ultricies. Eu non diam phasellus vestibulum lorem sed risus ultricies tristique.
        </p>
        <h2>
            Open Positions
        </h2>
        <p>TODO - show job openings</p>
    </body>
</html>